#cmbPumpNumStyle {
	-fx-font: 16px "Arial";
	-fx-text-fill: black;
}

#cmbPumpNumStyle .list-view .scroll-bar .thumb {
	-fx-background-color: #FF3300;
}

#btnSubmitStyle {
	-fx-font: 20px "Arial";
	-fx-text-fill: white;
	-fx-background-color: #FF4719;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
	-fx-padding: 10 10 10 10;
}

#btnSubmitStyle:hover {
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#rbWantCleaningStyle {
	-fx-font: 20px "Arial";
	-fx-text-fill: black;
}

#rbWantCleaningStyle .dot {
	-fx-mark-color: #FF3300;
}

#titleTextFXStyle {
	-fx-font: 20px "Arial";
	-fx-fill: #FF3300;
	-fx-font-weight: bold;
	-fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}

#lbCarIdStyle {
	-fx-font: 16px "Arial";
	-fx-text-fill: #FF3300;
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

#lbNumOfLitersStyle {
	-fx-font: 16px "Arial";
	-fx-text-fill: #FF3300;
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

#lbErrorNumOfLitersStyle {
	-fx-font: 13px "Arial";
	-fx-text-fill: #000099;
}

#lbSubmitErrorStyle {
	-fx-font: 13px "Arial";
	-fx-text-fill: #000099;
}