{% extends "ChitChat\base.html" %}

{% block title %} {{ block.super }} user registration Page {% endblock %}

{% block content %}
<div align="center">
    <h1>ChitChat User-Registration Form</h1>

    <form action="{% url 'userRegistration' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
            </tr>
            <tr>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{form.username.errors}}</td>
            </tr>
            <tr>
                <td>{{ form.password1.label_tag }}</td>
            </tr>
            <tr>
                <td>{{ form.password1 }}</td>
            </tr>
            <tr>
                <td>{{form.password1.errors}}</td>
            </tr>
            <tr>
                <td>{{ form.password2.label_tag }}</td>
            </tr>
            <tr>
                <td>{{ form.password2 }}</td>
            </tr>
            <tr>
                <td>{{form.password2.errors}}</td>
            </tr>
        </table>
        <input style="font-size:100%;" type="submit" value="register"/>
    </form>
      <br/>
    <a href="{% url 'logout' %}">
        <button type="button" style="font-size:100%;">back to login</button>
    </a>
</div>
{% endblock %}

{% block footer %}
<!--
Just dont display log out button
-->
{% endblock %}